.new-collections{
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding-left:30px;
}

.collections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 30px;
}


.new-collections hr{
    width: 200px;
    height: 10px;
    border-radius: 10px;
    background: black;
}